{% extends 'base.html' %}
{% block content %}
	<div class="container">
		{% for contacto in contactos %}
			<a href="{% url 'edit_contactos' contacto.pk %}"> <p>{{ contacto }}</p></a>
			<ul>
			<li>Phone: {{ contacto.number }}</li>
			{% if contacto.phone_number%}
				<li>Cellphone: {{ contacto.phone_number }}</li>
			{% endif %}
			<li><a href="mailto:{{contacto.email}}">{{ contacto.email }}</a></li>
			</ul>
		{% endfor %}
		<a href="{% url 'person-new' %}" class="btn btn-lg btn-default">Añadir</a>
	</div>
{% endblock %}

