<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">

{% load staticfiles%}
    <meta charset="utf-8" />
    <title>WinWin</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/theme/default.css' %}" id="theme" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
</head>

<body>
    

<div id="header" class="header navbar navbar-default navbar-fixed-top">
        <!-- begin container -->
        <div class="container">
            <!-- begin navbar-header -->
            
            <!-- end navbar-header -->
            <!-- begin navbar-collapse -->
            <!-- end navbar-collapse -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #header -->
    
    <!-- begin #page-title -->
    
    <!-- end #page-title -->
    
    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row row-space-30">
                <!-- begin col-9 -->
                <div class="col-md-9">
                    <!-- begin post-list -->
                    <ul class="post-list">
                        <li>
                            
                            <!-- end post-left-info -->
                            <!-- begin post-content -->
                            <div class="post-content">
                                <!-- begin post-image -->
                                <div class="post-image post-image-with-carousel">
                                    <!-- begin carousel -->
                                    <div id="carousel-post" class="carousel slide" data-ride="carousel">
                                        <!-- begin carousel-indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-post" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-post" data-slide-to="1"></li>
                                            <li data-target="#carousel-post" data-slide-to="2"></li>
                                        </ol>
                                        <!-- end carousel-indicators -->
                                        <!-- begin carousel-inner -->
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <a href="https://s3-us-west-2.amazonaws.com/startupbus16/lend2win.apk"><img src="{% static 'img/ogo2a.png' %}" alt="" /></a>
                                            </div>
                                            <div class="item">
                                                <a href="https://s3-us-west-2.amazonaws.com/startupbus16/tap2win.apk"><img src="{% static 'img/ogo2b.png' %}" alt="" /></a>
                                            </div>
                                        </div>
                                        <!-- end carousel-inner -->
                                        <!-- begin carousel-control -->
                                        <a class="left carousel-control" href="#carousel-post" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-post" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        </a>
                                        <!-- end carousel-control -->
                                    </div>
                                    <!-- end carousel -->
                                </div>
                                <!-- end post-image -->
                               
                                <!-- end post-info -->
                                <!-- begin read-btn-container -->
                                
                                <!-- end read-btn-container -->
                            </div>
                            <!-- end post-content -->
                        </li>
                        
                    <!-- end post-list -->
                    





    <!-- begin #header -->
    
                <!-- end col-9 -->
                <!-- begin col-3 -->
                
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end #content -->
    
    
                <!-- end col-3 -->
                <!-- begin col-3 -->
          
    <!-- end theme-panel -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'plugins/jquery/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="{% static 'plugins/jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/apps.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
</body>
</html>